defmodule Aoc20.Day<%= day %> do
  @moduledoc """
  https://adventofcode.com/2020/day/<%= day %>
  """
  use Aoc20.Utils.Reader, day: <%= day %>

  def process(input \\ input!()) do
    input
    |> String.split("\n", trim: true)
  end

  def part1 do
    {:not_implemented, 1}
  end

  def part2 do
    {:not_implemented, 2}
  end

  def run, do: {part1(), part2()}
end
